#navbar {
  position: fixed;
  margin: 0;
  top: 0;
  width: 100%;  
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
}

li {
  float: left;
  position: relative;
}

li a {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
}

li a:hover {
  background-color: #ff1493;
}

 h1 {
   margin: 70px;
   font-size: 2.3em;
   text-align: center;
 }

 h3 {
   font-size: 1.4em;
 }


.project-tile {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  height: 100%;
  width: 30%;
  padding: 10;
}

img {
  height: 350px;
  padding: 3px;
}

.profiles {
  margin-top: 180px;
  margin-bottom:10px;
  
}

.fcc-profile {
  background-color: #ffffff;
  color: #ff1493;
  border: 4px solid #ff1493;
  font-weight: 1.4em;
  padding: 8px;
}

.link-pro {
  color: #ff1493;
  font-weight: 2em;
}

@media only screen and (max-width: 800px) {
  * {
    background-color: #ffffff;
    margin: 0;
  }
.project-tile {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
  width: auto;
  margin: 0;
  padding: 0;

}

img {
  height: 150px;
  width: 20%;
  padding: 0;
  margin: 0;
}
}
